
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("/Views/AdminLayout/PreloaderPartial.cshtml")

    <div id="main-wrapper">


        @await Html.PartialAsync("/Views/AdminLayout/NavheaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/SidebarPartial.cshtml")

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

        @await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")
    </div>

    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")

</body>

</html>
