<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/hotel-html-template/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Rüya Gibi Tatil</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Konforun Keyfini Çıkarmak İster Misiniz?</h1>
                        <a href="/Room/Index/" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Odalarımız</a>
                        <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Rezervasyon Yap</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/hotel-html-template/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Her Şey Dahil Paketler</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Eşsiz Deniz ve Orman Manzarası</h1>
                        <a href="/Room/Index/" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Odalarımız</a>
                        <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Rezervasyon Yap</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Önceki</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sonraki</span>
        </button>
    </div>
</div>