@model List<ResultStaffDto>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Ekip Arkadaşlarımız</h6>
            <h1 class="mb-5">Ekibimizle <span class="text-primary text-uppercase">Tanışın</span></h1>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded shadow overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="@item.SocialMedia1" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">@item.Name</h5>
                        <small>@item.Title</small>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>