@model HotelProject.WebUI.Models.Role.AddRoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Yeni Rol Ekleme Sayfası</h1>

<form method="post">
    <label>Rol Adı</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn btn-primary">Rolü Ekle</button>
</form>