@model List<HotelProject.EntityLayer.Concrete.AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rol Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rol Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/Role/DeleteRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Role/UpdateRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Role/AddRole/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Rol Girişi</a>