<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Huzur Dolu Bir Tatil</h6>
                <h1 class="text-white mb-4">Otelimizi Daha Yakından Tanıyın</h1>
                <p class="text-white mb-4">Sizler için hazırladığımız otel tanıtım videomuzu izleyip hakkımızda daha fazla bilgi sahibi olabilirsiniz. Sorularınız olursa iletişim kısmından bize ulaşabilirsiniz.</p>
                <a href="/Booking/Index/" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5">Rezervasyon Yap</a>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:10px">
            <iframe width="560" height="410" src="https://www.youtube.com/embed/A-yYTkfrHR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>