@model List<InboxContactDto>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="email-left-box">
    <a href="/AdminContact/AddSendMessage/" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>

    <div class="mail-list mt-4">
        <a href="/AdminContact/Inbox/" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.contactCount</span> </a>

        <a href="/AdminContact/Sendbox/" class="list-group-item border-0 text-info p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b> Giden Kutusu</b><span class="badge badge-info badge-sm float-right m-t-5">@ViewBag.sendMessageCount</span> </a>

        <a href="#" class="list-group-item border-0 text-danger p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i><b> Önemli</b> <span class="badge badge-danger badge-sm float-right m-t-5">50</span> </a>

        <a href="#" class="list-group-item border-0 text-warning p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i><b>Taslaklar</b> <span class="badge badge-warning badge-sm float-right m-t-5">18</span> </a>

        <a href="#" class="list-group-item border-0 text-dark p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i><b>Çöp Kutusu</b><span class="badge badge-dark badge-sm float-right m-t-5">36</span></a>
    </div>

    <h5 class="mt-5 m-b-10">Kategoriler</h5>
    @await Html.PartialAsync("SideBarAdminContactCategoryPartial")
</div>
            <div class="email-right-box">
                <div role="toolbar" class="toolbar">
                    <div class="btn-group">
                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">
                            Gelen Mesajlar <span class="caret m-l-5"></span>
                        </button>
                    </div>
                </div>
                <div class="email-list m-t-15">
                    @foreach (var item in Model)
                    {
                        <div class="message">
                            <a href="/AdminContact/MessageDetailsByInbox/@item.ContactID">
                                <div class="col-mail col-mail-1">
                                    <div class="email-checkbox">
                                        <input type="checkbox" id="chk2">
                                        <label class="toggle" for="chk2"></label>
                                    </div><span class="star-toggle ti-star"></span>
                                </div>
                                <div class="col-mail col-mail-2">
                                    <div class="subject">@item.Message.Substring(0, 100)</div>
                                    <div class="date">11:49 am</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
