<div class="list-group mail-list">
    <a href="#" class="list-group-item border-0"><span class="fa fa-briefcase f-s-14 mr-2"></span>Şikayet</a>
    <a href="#" class="list-group-item border-0"><span class="fa fa-sellsy f-s-14 mr-2"></span>Teşekkür</a>
    <a href="#" class="list-group-item border-0"><span class="fa fa-ticket f-s-14 mr-2"></span>Support</a>
    <a href="#" class="list-group-item border-0"><span class="fa fa-tags f-s-14 mr-2"></span>İş Başvurusu</a>
</div>