<div class="mail-list mt-4">
    <a href="/AdminContact/Inbox/" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.contactCount</span> </a>

    <a href="/AdminContact/Sendbox/" class="list-group-item border-0 text-info p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b> Giden Kutusu</b><span class="badge badge-info badge-sm float-right m-t-5">29</span> </a>

    <a href="#" class="list-group-item border-0 text-danger p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i><b> Önemli</b> <span class="badge badge-danger badge-sm float-right m-t-5">50</span> </a>

    <a href="#" class="list-group-item border-0 text-warning p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i><b>Taslaklar</b> <span class="badge badge-warning badge-sm float-right m-t-5">18</span> </a>

    <a href="#" class="list-group-item border-0 text-dark p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i><b>Çöp Kutusu</b><span class="badge badge-dark badge-sm float-right m-t-5">36</span></a>
</div>