@model List<ResultTestimonialDto>
<div class="container-xxl testimonial my-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            @foreach (var item in Model)
            {
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>@item.Description</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="@item.Image" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">@item.Name</h6>
                        <small>@item.Title</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            }
        </div>
    </div>
</div>