@model UpdateRoomDto

@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="RoomID" />
    <label>Oda Numarası</label>
    <input type="text" asp-for="RoomNumber" class="form-control" />
    <br />
    <label>Oda Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <label>Yatak Odası Sayısı</label>
    <input type="text" asp-for="BedCount" class="form-control" />
    <br />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="BathCount" class="form-control" />
    <br />
    <label>Oda Kapak Fotoğrafı</label>
    <input type="text" asp-for="RoomCoverImage" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-primary">Odayı Güncelle</button>
</form>
