<form method="post" asp-action="_SubscribePartial" asp-controller="Default">
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div class="col-lg-10 border rounded p-1">
                <div class="border rounded text-center p-1">
                    <div class="bg-white rounded text-center p-5">
                        <h4 class="mb-4">Mail Bültenine <span class="text-primary text-uppercase">Kaydolun</span></h4>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Mail Adresinizi Girin" name="Mail">
                            <button class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Abone Ol</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
