<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/hotel-html-template/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Rezervasyon</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li class="breadcrumb-item"><a href="#">İletişim</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Rezervasyon</li>
                </ol>
            </nav>
        </div>
    </div>
</div>