@model List<ResultServiceDto>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Hizmetlerimiz</h6>
            <h1 class="mb-5">Hizmetlerimizi <span class="text-primary">Tanıyın</span></h1>
        </div>
        <div class="row g-4">
            @foreach(var item in Model)
            {

                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded" href="#">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="@item.ServiceIcon"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">@item.Title</h5>
                    <p class="text-body mb-0">@item.Description</p>
                </a>
            </div>
            }
        </div>
    </div>
</div>