@model UpdateStaffViewModel

@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="StaffID" />
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Sosyal Medya 1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" />
    <br />
    <label>Sosyal Medya 2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" />
    <br />
    <label>Sosyal Medya 3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Personeli Güncelle</button>
</form>

