<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a>
                    <p class="text-white mb-0">
                        Asp.Net Core Api ile Hazırladığımız Web Tabanlı Online Rezervasyon Uygulamasıdır. Geliştirici: Murat Yücedağ.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Cumhuriyet Cd. Ankara</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>core@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Şirketimiz</h6>
                        <a class="btn btn-link" href="">Hakkımızda</a>
                        <a class="btn btn-link" href="">Bize Yazın</a>
                        <a class="btn btn-link" href="">Güvenlik</a>
                        <a class="btn btn-link" href="">Kurallar & Şartlar</a>
                        <a class="btn btn-link" href="">Destek</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Hizmetler</h6>
                        <a class="btn btn-link" href="">Yemek & Restoran</a>
                        <a class="btn btn-link" href="">Spa & Fitness</a>
                        <a class="btn btn-link" href="">Spor ve Oyunlar</a>
                        <a class="btn btn-link" href="">Kutlamalar & Eğlence</a>
                        <a class="btn btn-link" href="">Yoga & Meditasyon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; Tüm Hakları Saklıdır @DateTime.Now.Year

                   
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Ana Sayfa</a>
                        <a href="">Çerezler</a>
                        <a href="">Yardım</a>
                        <a href="">Veri Kullanımı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>