@model AdminMailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Alıcı Mail Adresi</label>
    <input type="text" class="form-control" asp-for="ReceiverMail" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />
    <label>Mesajınız</label>
    <textarea class="form-control h-150px" rows="6" id="comment" asp-for="Body"></textarea>
    <br />
    <button class="btn btn-primary">Maili Gönder</button>
</form>
