@model List<BookingApiLocationSearchViewModel>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    @using (Html.BeginForm("Index", "SearchLocationID", FormMethod.Post))
    {
        <label>Şehir Adını Giriniz</label>
        <input type="text" class="form-control" name="cityName" />
        <br />
        <button class="btn btn-primary">Şehir İçin ID Bul</button>
    }

    <table class="table table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dest_id</td>
            </tr>
        }
    </table>
    <br />
    <a href="/BookingByCity/Index/" class="btn btn-dark">Yeni Otel Rezervasyon Bilgisi</a>
</div>
