
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control" />
    <br />
    <button class="btn btn-primary">Dosyayı Yükle</button>
</form>
